#menu {
    display: inline-block;
    float: right;
    border: 1px solid black;
    margin: 15px;
    width: 200px;
}

#menu .title {
    background: #96cdf2;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

.nav {
    font-size: 1.25em;
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px;
}

.nav:hover {
    background: #96cdf2;
}

.nav:visited {
}

.nav.active {
    background: #ffffff;
}